export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

### AUTOMATIC NVM SWITCHING ON DIRECTORY CHANGE - STARTS ###
# place this after nvm initialization!
autoload -U add-zsh-hook

load-nvmrc() {
  local nvmrc_path
  nvmrc_path="$(nvm_find_nvmrc)"

  if [ -n "$nvmrc_path" ]; then
    local nvmrc_node_version
    nvmrc_node_version=$(nvm version "$(cat "${nvmrc_path}")")

    if [ "$nvmrc_node_version" = "N/A" ]; then
      nvm install
    elif [ "$nvmrc_node_version" != "$(nvm version)" ]; then
      nvm use
    fi
  elif [ -n "$(PWD=$OLDPWD nvm_find_nvmrc)" ] && [ "$(nvm version)" != "$(nvm version default)" ]; then
    echo "Reverting to nvm default version"
    nvm use default
  fi
}

add-zsh-hook chpwd load-nvmrc
load-nvmrc

eval "$(direnv hook zsh)"

### AUTOMATIC NVM SWITCHING ON DIRECTORY CHANGE - ENDS###

export NODE_OPTIONS=--dns-result-order=ipv4first
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

# abitti 2 api key
export API_KEY={{ onepasswordRead "op://Employee/Digabi2 API key/credential" }}
# abitti 2 image_tag
export IMAGE_TAG=aleksin-image

export PATH="/opt/homebrew/opt/make/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

export PGHOST=localhost

alias ytl-deploy=/Users/aleksi.vuorjoki/dev/cdk-infra/interactive-deploy.sh

alias python='python3'
export EDITOR="code -w" 

