export NODE_OPTIONS=--dns-result-order=ipv4first
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

# abitti 2 api key
export API_KEY={{ onepasswordRead "op://Employee/Digabi2 API key/credential" }}
# abitti 2 image_tag
export IMAGE_TAG=aleksin-image

export PATH="/opt/homebrew/opt/make/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

export PGHOST=localhost

alias ytl-deploy=/Users/aleksi.vuorjoki/dev/cdk-infra/interactive-deploy.sh

alias python='python3'
export EDITOR="code -w" 


# Created by `pipx` on 2025-12-28 10:38:16
export PATH="$PATH:/Users/aleksi.vuorjoki/.local/bin"

export HOMEBREW_BUNDLE_FILE=".local/share/chezmoi/.Brewfile"

# active mise
eval "$(mise activate zsh)"